<br />

<div class='basic-box col-8 offset-2'>
    <h1><%= @course.title %></h1>
    <div class='row'>
      <div class='col-12'>
        <%= image_tag @course.image.to_s, class: 'img_fluid' %>
      </div>
    <br />

      <div class="grid">
        <div class='desc'>
            <h4><%= @course.description %></h4>
        </div>
        <div>
          <h2>
            <span class='badge badge-success'>
            <%= number_to_currency @course.cost %>
            </span>
          </h2>
        </div>

            <% if current_user && current_user == @course.user %>
                <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
            <% end %>

            <% if current_user %>
              <% if current_user.enrolled_in?(@course) %>
                <h2 class="badge badge-info" id="enrolled">You Are Enrolled!</h2>
              <% else %>
                <% if @course.free? %>
                  <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
                <% else %>
                  <%= form_tag course_enrollments_path(@course) do %>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-email="<%= current_user.email %>"
                            data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                            data-amount="<%= (@course.cost * 100).to_i %>"
                            data-locale="auto"></script>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <h3 class="badge badge-info">Sign In to Enroll!</h3>
            <% end %>
          </div>
      </div>

   <div class="col-12">
    <% @course.sections.rank(:row_order).each do |section| %>
      <br />
      <div class="section">
        <h3><%= section.title %></h3>
        <div class='row'>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class='col-12 col-sm-6'>
              <div class="lesson text-center">
              <br />
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <br class='clr' />
      </div>
    <% end %>
  </div>
</div>