<br />

<div class='basic-box col-10 offset-1'>
    <h1><%= @course.title %></h1>
    <%= image_tag @course.image.to_s, class: 'img_fluid' %>
    <br />

    <div class='row'>
        <div class='col-sm-4 col-12 text-center'>
            <h2><span class='badge badge-success'>
               <%= number_to_currency @course.cost %>
            </span></h2>

            <% if current_user && current_user == @course.user %>
                <br />
                <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
            <% end %>
        </div>

        <div class='col-sm-8 col-12'>
            <h3><%= @course.description %></h3>
        </div>
    </div>

   <div class="col-12">
    <% @course.sections.each do |section| %>
      <div class="section">
        <%= section.title %>
        <% section.lessons.each do |lesson| %>
          <div class="lesson">
            <b><%= lesson.title %></b>
            -
            <%= lesson.subtitle %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>